[submodule "database_manager/hamlet_common"]
	path = database_manager/hamlet_common
	url = https://github.com/LeftHandedGlove/hamlet_common.git
[submodule "sensors_monitor/hamlet_common"]
	path = sensors_monitor/hamlet_common
	url = https://github.com/LeftHandedGlove/hamlet_common.git
